<!DOCTYPE html>
<html>
<title>ML newsletter</title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
	html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

	.category{
	  padding: 20px;
	  margin: auto;
	  background: #F5F5F5;
	  margin-bottom: 25px;
	  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	  transition: all 0.3s; 
	  border-radius: 3px;
	}

    .category-title{
      margin-bottom: 30px;
    }

	.category-logo{
	  margin-right: 10px;
	}

	.article-logo{
	  margin-right: 3px;
	}

    .recommended{
	  margin-right: 2px;
    }

    .quote{
      font-size: 11px;
    }
</style>


<body>

<!-- Page Container -->
<div class="container" style="max-width:1400px;">

  {% if intro_text %}
  <div class="row" style="margin-bottom:30px; margin-top:30px;">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
          <p class="text-sm-left">{{ intro_text }}</p>
      </div>
      <div class="col-sm-2"></div>
  </div>
  {% endif %}

  <!-- The Grid -->
  <div class="row">
  
      <!-- Dummy container to force centering. Yes. I'm a front-end noob. -->
      <div class="col-sm-2"></div>

      <div class="col-sm-8">

          {% for category in categories %}

          <!-- Category block -->
          <div class="category">
              <h2 class="category-title">
                  <img src="{{ category['url_logo'] }}"
                       class="fa fa-fw category-logo">{{ category['name'] }}
              </h2>

              {% for article in category['articles'] %}

              <div class="article">
                  <h5 class="article-title">
                      {% for url_logo in article['urls_logo'] %}
                      <img src="{{ url_logo }}"
                           class="fa fa-fw article-logo">
                      {% endfor %}
                      <b><a href="{{ article['url'] }}">{{ article['title'] }}</a></b>
                  </h5>

                  <h6 class="w3-text">
                          {% if article['recommended'] %}
                              <span class="badge">
                                  Recommended
                              </span>
                          {% endif %}
                          {{ article['lab'] }}
                  </h6>
                  <p>{{ article['description'] }}</p>
                  {% if article['quote'] != "" %}
                  <blockquote class="blockquote">
                     <p class="quote">{{ article['quote'] }}</p>
                  </blockquote>
                  {% endif %}
              </div>
              <hr>

              {% endfor %}
            
          </div>
          {% endfor %}
      </div>
      
  <!-- Dummy container to force centering. Yes. I'm a front-end noob. -->
  <div class="col-sm-2"></div>

  <!-- End Grid -->
  </div>

  {% if outro_text %}
  <div class="row" style="margin-bottom:30px; margin-top:30px;">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
          <p class="text-sm-left">{{ outro_text }}</p>
      </div>
      <div class="col-sm-2"></div>
  </div>
  {% endif %}
  
  <!-- End Page Container -->
</div>

</body>
</html>
